.container {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th {
    background-color: #ddd;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.del-btn {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #ffc0c0;
    background: #574c4c;
    border-radius: .5rem;
}
.edit-btn {
    font-family: inherit;
    margin-left: .5rem;
    font-size: inherit;
    line-height: inherit;
    color: #c0ffc9;
    background: #574c4c;
    border-radius: .5rem;
    padding: 0 .5rem;
}
.expense-row {
    background-color: #ffc0c0;
}

.income-row {
    background-color: #deffc0;
}

.data-table td {
    padding: 10px;
}

.loaderCont {
    width: 100%;
    display: flex;
    height: 90%;
}

.loader {
    margin: auto;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

.modal h2 {
    margin-top: 0;
}

.modal label {
    display: block;
    margin-bottom: 10px;
}

.modal input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.modal button {
    padding: 10px 20px;
}